<!DOCTYPE HTML>
<html style="height: 100%">
<head>
 <title>Glia Python Web Test by Django</title>
</head>
<body bgcolor="#000000" style="height: 100%">
 <div class="wrapper" style="min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -8em;">
  <center style="color: #ffffff; padding-top: 200px; font-family: Courier; font-size: 24px; font-weight: bold;"><a href="/" rel="nofollow" style="text-decoration: none; color: #ffffff;">{sentence}</a></center>
  <div class="push"></div>
 </div>
 <div class="footer">
  <center style="color: #ffffff; font-family: Courier; font-size: 11px;">
   <br /><br />&copy; No Copyright, free
  </center>
 </div>
 </body>
</html>
